{{!
* Licensed to the Apache Software Foundation (ASF) under one
* or more contributor license agreements.  See the NOTICE file
* distributed with this work for additional information
* regarding copyright ownership.  The ASF licenses this file
* to you under the Apache License, Version 2.0 (the
* "License"); you may not use this file except in compliance
* with the License.  You may obtain a copy of the License at
*
*     http://www.apache.org/licenses/LICENSE-2.0
*
* Unless required by applicable law or agreed to in writing, software
* distributed under the License is distributed on an "AS IS" BASIS,
* WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
* See the License for the specific language governing permissions and
* limitations under the License.
}}
<div class="modal fade" id="configureJob" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" {{action "close"}}>&times;</button>
        <b>Import Workflow From Stream</b>
      </div>
      <div class="modal-body">
        <div class="panel panel-default">
          <div class="panel-body">
            <div class="row form-group">
              <div class="col-xs-3"> 
                <label class="control-label" for="{{type}}-path">{{displayName}} stream</label><span class="requiredField">&nbsp;*</span>
              </div>
            </div>

            <div class="row form-group">
              <div class="col-xs-8">
                <div class="input-group">
                  <div id="xmlCodeStream">
                    {{ivy-codemirror value=workflowStream options=(hash lineNumbers=false mode="xml" indentWithTabs=true)}}
                  </div>
                </div>
                {{field-error model=this field='workflowStream' showErrorMessage=showErrorMessage}}
              </div>
            </div>

          </div>
        </div>
      </div>
      <div class="modal-footer">
        {{#if savingInProgress}}
        {{spin-spinner lines=10 length=10 width=5 radius=10 }}
        <span class="pull-left">Saving {{displayName}}</span>
        {{/if}}
        {{#if startingInProgress}}
        {{spin-spinner lines=8 length=5 width=10 radius=5}}
        <span class="pull-left">Starting {{displayName}}</span>
        {{/if}}
        <button type="button" class="btn btn-default" {{action "close"}}>Close</button>
        <button type="button" class="btn btn-primary" {{action "save"}}>Import workflow stream</button>
      </div>
    </div>
  </div>
</div>

