{{!
* Licensed to the Apache Software Foundation (ASF) under one
* or more contributor license agreements.  See the NOTICE file
* distributed with this work for additional information
* regarding copyright ownership.  The ASF licenses this file
* to you under the Apache License, Version 2.0 (the
* "License"); you may not use this file except in compliance
* with the License.  You may obtain a copy of the License at
*
*     http://www.apache.org/licenses/LICENSE-2.0
*
* Unless required by applicable law or agreed to in writing, software
* distributed under the License is distributed on an "AS IS" BASIS,
* WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
* See the License for the specific language governing permissions and
* limitations under the License.
}}
<div id="notificationWidget" class="">
    <!--a href="#" class="close " data-dismiss="alert" aria-label="close">&times;</a-->
	<ul class="list-group">
	  <li class="list-group-item">{{info-header  hoveredAction=hoveredAction hideNotification="hideNotification"}}</li>
	  {{#if hoveredAction.host}}<li class="list-group-item"><b>Host : </b> <br/>{{hoveredAction.host}} </li>{{/if}}
	  {{#if hoveredAction.host}}<li class="list-group-item"><b>Command :  </b><br/>{{hoveredAction.command}} </li>{{/if}}
	  {{#if hoveredAction.host}}<li class="list-group-item"><b>Capture Output : </b> <br/>{{hoveredAction.captureOutput}} </li>{{/if}}
	  {{#if hoveredAction.host}}<li class="list-group-item"><b>Arg : </b> <br/>{{hoveredAction.arg}} </li>{{/if}}
	  {{#if hoveredAction.host}}<li class="list-group-item"><b>Args :  </b>
	    {{#property-value-config action=hoveredAction.args}}{{/property-value-config}}
	  </li>{{/if}}
	</ul>
</div>


