{{!
* Licensed to the Apache Software Foundation (ASF) under one
* or more contributor license agreements.  See the NOTICE file
* distributed with this work for additional information
* regarding copyright ownership.  The ASF licenses this file
* to you under the Apache License, Version 2.0 (the
* "License"); you may not use this file except in compliance
* with the License.  You may obtain a copy of the License at
*
*     http://www.apache.org/licenses/LICENSE-2.0
*
* Unless required by applicable law or agreed to in writing, software
* distributed under the License is distributed on an "AS IS" BASIS,
* WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
* See the License for the specific language governing permissions and
* limitations under the License.
}}

<div id="actionInfo">
  <div class="panel panel-default">
    <div class="panel-body">
      <div class="col-md-12">
        <div class="col-md-2">Name</div>
        <div class="col-md-10">{{actionInfo.name}}</div>
      </div>
      <div class="col-md-12">
        <div class="col-md-2">Type</div>
        <div class="col-md-10">{{actionInfo.type}}</div>
      </div>
      <div class="col-md-12">
        <div class="col-md-2">Transition</div>
        <div class="col-md-10">{{actionInfo.transition}}</div>
      </div>
      <div class="col-md-12">
        <div class="col-md-2">Start Time</div>
        <div class="col-md-10">{{actionInfo.startTime}}</div>
      </div>
      <div class="col-md-12">
        <div class="col-md-2">End Time</div>
        <div class="col-md-10">{{actionInfo.endTime}}</div>
      </div>
      <div class="col-md-12">
        <div class="col-md-2">Status</div>
        <div class="col-md-10">{{actionInfo.status}}</div>
      </div>
      <div class="col-md-12">
        <div class="col-md-2">Error Code</div>
        <div class="col-md-10">{{actionInfo.errorCode}}</div>
      </div>
      <div class="col-md-12">
        <div class="col-md-2">Error Message</div>
        <div class="col-md-10">{{actionInfo.errorMessage}}</div>
      </div>
      <div class="col-md-12">
        <div class="col-md-2">External ID</div>
        <div class="col-md-10">{{actionInfo.externalId}}</div>
      </div>
      <div class="col-md-12">
        <div class="col-md-2">External Status</div>
        <div class="col-md-10">{{actionInfo.externalStatus}}</div>
      </div>
      <div class="col-md-12">
        <div class="col-md-2">Tracker URI</div>
        {{#unless (eq "-" actionInfo.trackerUri)}}
        <div class="col-md-10"><a target="_blank" href="{{actionInfo.trackerUri}}">{{actionInfo.trackerUri}}</a></div>
        {{else}}
        <div class="col-md-10">{{actionInfo.trackerUri}}</div>
        {{/unless}}
      </div>
    </div>
  </div>
</div>
