{{!
* Licensed to the Apache Software Foundation (ASF) under one
* or more contributor license agreements.  See the NOTICE file
* distributed with this work for additional information
* regarding copyright ownership.  The ASF licenses this file
* to you under the Apache License, Version 2.0 (the
* "License"); you may not use this file except in compliance
* with the License.  You may obtain a copy of the License at
*
*     http://www.apache.org/licenses/LICENSE-2.0
*
* Unless required by applicable law or agreed to in writing, software
* distributed under the License is distributed on an "AS IS" BASIS,
* WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
* See the License for the specific language governing permissions and
* limitations under the License.
}}

{{#if queue}}
  <div class="queue-summary">
    <div class="panel panel-default">
      <div class="panel-body">
        <div class="row">
          <div class="col-sm-5">
            <label>Name</label>
          </div>
          <div class="col-sm-6">
            <span>{{queue.name}}</span>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-5">
            <label>Path</label>
          </div>
          <div class="col-sm-6">
            <span>{{queue.path}}</span>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-5">
            <label>Capacity of my parent</label>
          </div>
          <div class="col-sm-5">
            <span>{{queue.capacity}}%</span>
          </div>
          {{#if isQueueCapacityNeedRefresh}}
            <div class="col-sm-2">
              {{warning-info class="yellow-warning" tooltip="Need refresh queues/restart RM to take effect"}}
            </div>
          {{/if}}
        </div>
        <div class="row">
          <div class="col-sm-5">
            <label>State</label>
          </div>
          <div class="col-sm-5">
            <span {{bind-attr class="qStateColor"}}>{{queueState}}</span>
          </div>
          {{#if isQueueStateNeedRefresh}}
            <div class="col-sm-2">
              {{warning-info class="yellow-warning" tooltip="Need refresh queues/restart RM to take effect"}}
            </div>
          {{/if}}
        </div>
      </div>
    </div>
  </div>
{{/if}}
