{{!
* Licensed to the Apache Software Foundation (ASF) under one
* or more contributor license agreements.  See the NOTICE file
* distributed with this work for additional information
* regarding copyright ownership.  The ASF licenses this file
* to you under the Apache License, Version 2.0 (the
* "License"); you may not use this file except in compliance
* with the License.  You may obtain a copy of the License at
*
*     http://www.apache.org/licenses/LICENSE-2.0
*
* Unless required by applicable law or agreed to in writing, software
* distributed under the License is distributed on an "AS IS" BASIS,
* WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
* See the License for the specific language governing permissions and
* limitations under the License.
}}

{{#if view.configErrors.criticalIssues.length}}
  <p>
    {{t installer.step7.popup.validation.criticalIssues.body}}
    <span class="alert-badge" {{QAAttr "error-badge"}}>
      <span class="counter label alerts-crit-count">
        {{view.configErrors.criticalIssues.length}}
      </span>
    </span>
  </p>
  <div {{bindAttr class="controller.isInstallWizard::limited-height-2 :config-validation-warnings"}}>
    <table class="table table-hover">
      <thead>
      <tr>
        <th class="issue-type-cell">{{t common.type}}</th>
        <th class="service-name-cell">{{t common.service}}</th>
        <th class="property-name-cell">{{t common.property}}</th>
        <th class="property-value-cell">{{t common.value}}</th>
        <th class="property-description-cell">{{t common.description}}</th>
      </tr>
      </thead>
      <tbody>
      {{#each error in view.configErrors.criticalIssues}}
        <tr {{bindAttr class="error.cssClass"}}>
          <td class="issue-type-cell">
            {{t common.critical}}
          </td>
          <td class="service-name-cell">{{error.serviceName}}</td>
          <td class="property-name-cell">
            {{#if controller.isInstallWizard}}
              <a href="#" {{action "showConfigProperty" error target="controller"}}>{{error.propertyName}}</a>
            {{else}}
              {{error.propertyName}}
            {{/if}}
          </td>
          <td class="property-value-cell">{{error.value}}</td>
          <td class="property-description-cell">
            {{#each message in error.messages}}
              <div class="property-message">{{message}}</div>
            {{/each}}
            <div class="property-description">{{error.description}}</div>
          </td>
        </tr>
      {{/each}}
      </tbody>
    </table>
  </div>
{{/if}}
{{#if view.configErrors.issues.length}}
  <p>
    {{t installer.step7.popup.validation.issues.title}}
    <span class="alert-badge" {{QAAttr "error-badge"}}>
      <span class="counter label alerts-none-count">
        {{view.configErrors.issues.length}}
      </span>
    </span>
  </p>
  <p class="recommendations-message">
    {{t installer.step7.popup.validation.issues.body}}
  </p>
  <div {{bindAttr class="controller.isInstallWizard::limited-height-2 :config-validation-warnings"}}>
    <table class="table table-hover">
      <thead>
      <tr>
        <th class="issue-type-cell">{{t common.type}}</th>
        <th class="service-name-cell">{{t common.service}}</th>
        <th class="property-name-cell">{{t common.property}}</th>
        <th class="property-value-cell">{{t installer.step7.popup.currentValue}}</th>
        <th class="property-description-cell">{{t common.description}}</th>
      </tr>
      </thead>
      <tbody>
      {{#each error in view.configErrors.issues}}
        <tr {{bindAttr class="error.cssClass"}}>
          <td class="issue-type-cell">
            {{#if error.isError}}
              {{t common.error}}
            {{else}}
              {{t common.warning}}
            {{/if}}
          </td>

          {{#if error.isGeneral}}
            {{#each message in error.messages}}
              <td colspan="4">{{error.message}}</td>
            {{/each}}
          {{else}}
            <td class="service-name-cell">{{error.serviceName}}</td>
            <td class="property-name-cell">
              {{#if controller.isInstallWizard}}
                <a href="#" {{action "showConfigProperty" error target="controller"}}>{{error.propertyName}}</a>
              {{else}}
                {{error.propertyName}}
              {{/if}}
            </td>
            <td class="property-value-cell">{{error.value}}</td>
            <td class="property-description-cell">
              {{#each message in error.messages}}
                <div class="property-message">{{message}}</div>
              {{/each}}
              <div class="property-description">{{error.description}}</div>
            </td>
          {{/if}}
        </tr>
      {{/each}}
      </tbody>
    </table>
  </div>
{{/if}}
