{{!
* Licensed to the Apache Software Foundation (ASF) under one
* or more contributor license agreements.  See the NOTICE file
* distributed with this work for additional information
* regarding copyright ownership.  The ASF licenses this file
* to you under the Apache License, Version 2.0 (the
* "License"); you may not use this file except in compliance
* with the License.  You may obtain a copy of the License at
*
*     http://www.apache.org/licenses/LICENSE-2.0
*
* Unless required by applicable law or agreed to in writing, software
* distributed under the License is distributed on an "AS IS" BASIS,
* WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
* See the License for the specific language governing permissions and
* limitations under the License.
}}

{{view.hostName}}
<div class="host-elements">
  {{#if view.isObjectsList}}
    <table class="table table-hover">
      <tbody>
        {{#each view.items}}
          <tr>
            <td>{{name}}</td>
            <td>{{status}}</td>
          </tr>
        {{/each}}
      </tbody>
    </table>
  {{else}}
    <ul class="list-unstyled">
      {{#each item in view.items}}
        <li>{{item}}</li>
      {{/each}}
    </ul>
  {{/if}}
</div>
