{{!
   Licensed to the Apache Software Foundation (ASF) under one
   or more contributor license agreements.  See the NOTICE file
   distributed with this work for additional information
   regarding copyright ownership.  The ASF licenses this file
   to you under the Apache License, Version 2.0 (the
   "License"); you may not use this file except in compliance
   with the License.  You may obtain a copy of the License at
  
       http://www.apache.org/licenses/LICENSE-2.0
  
   Unless required by applicable law or agreed to in writing, software
   distributed under the License is distributed on an "AS IS" BASIS,
   WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
   See the License for the specific language governing permissions and
   limitations under the License.
}}

<div class="container-fluid">
  <div class="row">
    <div class="col-md-3 navigation">
      <div class="well">

        {{view 'nav-items' content=navs}}
        <div class="nav-script-wrap">
          <div class=" nav-script" >
            <div>
              <button type="button" class="close_script" tabindex="-1" {{action 'closeScript'}}>
                <i class="fa fa-times"></i>
              </button>
            </div>
            <div class="script-title">
              {{#unless activeScript.isBlankTitle}}
                <span>{{activeScript.title}}</span>
                {{else}}
                <span>...</span>
              {{/unless}}
            </div>
           <ul class="script-actions list-unstyled">
              <li><a href="#" tabindex="-1" {{action "saveScript" activeScript}} {{bind-attr class=":btn :btn-block saveEnabled::disabled"}} ><i class="fa fa-fw fa-save"></i> {{t 'common.save'}}</a></li>
              <li><a href="#" tabindex="-1" {{action "copyScript" activeScript}} {{bind-attr class=":btn :btn-block disableScriptControls:disabled"}} ><i class="fa fa-fw fa-copy"></i> {{t 'common.copy'}}</a></li>
              <li class="divider"></li>
              <li><a href="#" tabindex="-1" {{action "deletescript" activeScript}} {{bind-attr class=":btn :btn-block disableScriptControls:disabled"}}  ><i class="fa fa-fw fa-trash-o"></i> {{t 'common.delete'}}</a></li>
            </ul>
          </div>
        </div>
      </div>

      {{outlet alert}}
    </div>
    <div class="col-md-9 main-content">
      {{outlet}}
    </div>
  </div>
</div>

{{outlet modal}}
