{{!
* Licensed to the Apache Software Foundation (ASF) under one
* or more contributor license agreements.  See the NOTICE file
* distributed with this work for additional information
* regarding copyright ownership.  The ASF licenses this file
* to you under the Apache License, Version 2.0 (the
* "License"); you may not use this file except in compliance
* with the License.  You may obtain a copy of the License at
*
*     http://www.apache.org/licenses/LICENSE-2.0
*
* Unless required by applicable law or agreed to in writing, software
* distributed under the License is distributed on an "AS IS" BASIS,
* WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
* See the License for the specific language governing permissions and
* limitations under the License.
}}
<form class="form-horizontal" autocomplete="off">
    <div class="each-row">
        <div class="alert alert-info">
          {{{view.parentView.widgetView.hintInfo}}}
        </div>
    </div>

    <div class="row" id= "min-height-limit">
      <div class="col-md-12">
        <div id="slider-range"></div>
      </div>
    </div>

    <div class="row">
        <div id="slider-value1" class="value-on-slider col-md-2">
          <input type="text" value="0" disabled="disabled" class="form-control" />
        </div>
        <div id="slider-value2" {{bindAttr class="view.parentView.sliderHandlersManager.thresholdMinError:slider-error :value-on-slider :col-md-4 view.parentView.sliderHandlersManager.thresholdMinError:has-error"}}>
          {{view Ember.TextField class="form-control" valueBinding="view.parentView.sliderHandlersManager.thresholdMin"}}
          {{#if view.parentView.sliderHandlersManager.thresholdMinError}}
            <span class="help-block validation-block">{{view.parentView.sliderHandlersManager.thresholdMinErrorMessage}}</span>
          {{/if}}
        </div>
        <div id="slider-value3" {{bindAttr class="view.parentView.sliderHandlersManager.thresholdMaxError:slider-error :value-on-slider :col-md-4 view.parentView.sliderHandlersManager.thresholdMaxError:has-error"}}>
          {{view Ember.TextField class="form-control" valueBinding="view.parentView.sliderHandlersManager.thresholdMax"}}
          {{#if view.parentView.sliderHandlersManager.thresholdMaxError}}
            <span class="help-block validation-block">{{view.parentView.sliderHandlersManager.thresholdMaxErrorMessage}}</span>
          {{/if}}
        </div>
        <div id="slider-value4" class="value-on-slider col-md-2">
          {{view Em.TextField valueBinding="view.parentView.sliderHandlersManager.maxValue" classNames="form-control" disabled="disabled"}}
        </div>
    </div>

</form>