{{!
* Licensed to the Apache Software Foundation (ASF) under one
* or more contributor license agreements.  See the NOTICE file
* distributed with this work for additional information
* regarding copyright ownership.  The ASF licenses this file
* to you under the Apache License, Version 2.0 (the
* "License"); you may not use this file except in compliance
* with the License.  You may obtain a copy of the License at
*
*     http://www.apache.org/licenses/LICENSE-2.0
*
* Unless required by applicable law or agreed to in writing, software
* distributed under the License is distributed on an "AS IS" BASIS,
* WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
* See the License for the specific language governing permissions and
* limitations under the License.
}}

{{! Service Metrics Section (common data for all namespaces) }}
<div class="col-md-12 metrics-summary not-separate-section">
  <div class="col-md-2">
    {{#if view.isFederatedHDFS}}
      {{t dashboard.services.hdfs.summary.service-metrics}}
    {{/if}}
  </div>
  <div class="col-md-10">
    {{#if view.isNonFederatedHDFS}}
      <div class="row"></div>
    {{/if}}
    {{! HDFS Capacity (Disk Usage)}}
    <div class="row dfs-usage col-md-3">
      <div class="summary-value">
        <div class="main-info">{{view.dfsUsedDiskPercent}}</div>
        <div class="info-desc">{{view.dfsUsedDisk}}</div>
      </div>
      <div class="summary-label">{{t dashboard.services.hdfs.capacity.dfsUsed}}</div>
    </div>
    <div class="row non-dfs-used col-md-3">
      <div class="summary-value main-info">
        <div class="main-info">{{view.nonDfsUsedDiskPercent}}</div>
        <div class="info-desc">{{view.nonDfsUsedDisk}}</div>
      </div>
      <div class="summary-label">{{t dashboard.services.hdfs.capacity.nonDfsUsed}}</div>
    </div>
    <div class="row capacity-remaining col-md-3">
      <div class="summary-value">
        <div class="main-info">{{view.remainingDiskPercent}}</div>
        <div class="info-desc">{{view.remainingDisk}}</div>
      </div>
      <div class="summary-label">{{t dashboard.services.hdfs.capacity.remaining}}</div>
    </div>
  </div>
</div>
