{{!
* Licensed to the Apache Software Foundation (ASF) under one
* or more contributor license agreements.  See the NOTICE file
* distributed with this work for additional information
* regarding copyright ownership.  The ASF licenses this file
* to you under the Apache License, Version 2.0 (the
* "License"); you may not use this file except in compliance
* with the License.  You may obtain a copy of the License at
*
*     http://www.apache.org/licenses/LICENSE-2.0
*
* Unless required by applicable law or agreed to in writing, software
* distributed under the License is distributed on an "AS IS" BASIS,
* WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
* See the License for the specific language governing permissions and
* limitations under the License.
}}
{{#if unknownComponents}}
  <div class="row">
    <div class="col-md-12">
      <p>{{t hosts.delete.popup.unknownComponents}}<br /><i>{{unknownComponents}}</i></p>
    </div>
  </div>
{{/if}}
<p><i class="glyphicon glyphicon-warning-sign"></i> {{{deletePopupBody}}}</p>
{{#if lastComponent}}
  <div class="alert alert-danger">
    <div class="row row-no-pad">
      <div class="col-md-1">{{view App.CheckboxView checkedBinding="isChecked"}}</div>
      <div class="col-md-10">{{view lastComponentError}}</div>
    </div>
  </div>
{{/if}}

{{#if toDecommissionComponents.length}}
  <div class="alert alert-warning">
    {{view decommissionWarning}}
  </div>
{{/if}}

<div class="alert alert-warning">{{{t common.important.strong}}}
  {{#if unknownComponents}}
    {{t hosts.delete.popup.body.msg.unknownComponents}}
  {{/if}}
  {{t hosts.delete.popup.body.msg1}}
</div>

{{#unless unknownComponents}}
  <div class="alert alert-warning">
    <!-- Agent is still online, so host record will be re-inserted on next heartbeat. -->
    {{t hosts.delete.popup.body.msg5}}
    <span class="text-danger">{{t hosts.delete.popup.body.msg6}}</span>
  </div>
{{/unless}}

<div class="alert alert-warning">{{{t common.important.strong}}} {{t hosts.delete.popup.body.msg3}}</div>
