{{!
* Licensed to the Apache Software Foundation (ASF) under one
* or more contributor license agreements.  See the NOTICE file
* distributed with this work for additional information
* regarding copyright ownership.  The ASF licenses this file
* to you under the Apache License, Version 2.0 (the
* "License"); you may not use this file except in compliance
* with the License.  You may obtain a copy of the License at
*
*     http://www.apache.org/licenses/LICENSE-2.0
*
* Unless required by applicable law or agreed to in writing, software
* distributed under the License is distributed on an "AS IS" BASIS,
* WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
* See the License for the specific language governing permissions and
* limitations under the License.
}}

<div id="stack-upgrade-record-dialog">
  <div {{bindAttr class="view.isLoaded::hidden :row"}}>
    <div class="col-md-3 task-list-main-wrap">{{statusIcon controller.requestStatus}}
      &nbsp;{{view.upgradeStatusLabel}}</div>
    <div class="col-md-8">
      {{view App.ProgressBarView
        progressBinding="view.overallProgress"
        statusBinding="controller.requestStatus"
      }}
    </div>
    <div class="col-md-1">
      {{view.overallProgress}}%
    </div>
  </div>

  <div class="task-list scrollable-block task-list-main-wrap">
    {{#if view.isReady}}
      {{#each group in controller.upgradeData.upgradeGroups}}
        {{#if group.isVisible}}
          {{view App.upgradeGroupView contentBinding="group"}}
        {{/if}}
      {{/each}}
    {{/if}}
  </div>
  {{#unless view.isReady}}
    {{view App.SpinnerView}}
  {{/unless}}
</div>
