{{!
* Licensed to the Apache Software Foundation (ASF) under one
* or more contributor license agreements.  See the NOTICE file
* distributed with this work for additional information
* regarding copyright ownership.  The ASF licenses this file
* to you under the Apache License, Version 2.0 (the
* "License"); you may not use this file except in compliance
* with the License.  You may obtain a copy of the License at
*
*     http://www.apache.org/licenses/LICENSE-2.0
*
* Unless required by applicable law or agreed to in writing, software
* distributed under the License is distributed on an "AS IS" BASIS,
* WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
* See the License for the specific language governing permissions and
* limitations under the License.
}}
<div class="form-group">
  <label for="" class="control-label col-xs-2">{{label}}
    {{#if required}}
      <span class="requiredField">&nbsp;*</span>
    {{/if}}
  </label>
  <div class="col-xs-7">
    <div class="input-group">
      <div class="input-group-btn">
        <button onclick={{action (mut dateField.type) "date"}} type="button" class="btn btn-default {{if (eq dateField.type 'date') 'btn-secondary' ''}} scope-btn">
          Date
        </button>
        <button onclick={{action (mut dateField.type) "expr"}} type="button" class="btn btn-default {{if (eq dateField.type 'expr') 'btn-secondary' ''}} scope-btn">
          Expression
        </button>
      </div>
      {{input type="text" class="form-control" name=inputName value=dateField.displayValue placeholder=inputPlaceholder}}
    </div>
    {{#if required}}
      {{field-error model=this field='dateField.displayValue' showErrorMessage=showErrorMessage}}
    {{/if}}
  </div>
  {{yield}}
</div>
