{{!
* Licensed to the Apache Software Foundation (ASF) under one
* or more contributor license agreements.  See the NOTICE file
* distributed with this work for additional information
* regarding copyright ownership.  The ASF licenses this file
* to you under the Apache License, Version 2.0 (the
* "License"); you may not use this file except in compliance
* with the License.  You may obtain a copy of the License at
*
*     http://www.apache.org/licenses/LICENSE-2.0
*
* Unless required by applicable law or agreed to in writing, software
* distributed under the License is distributed on an "AS IS" BASIS,
* WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
* See the License for the specific language governing permissions and
* limitations under the License.
}}
<div class="panel panel-default">
  <div class="panel-heading">
    {{#if editMode}}
      Edit Kill Node
    {{else}}
      Add Kill Node
    {{/if}}
  </div>
  <div class="panel-body">
    {{#if createKillnodeError}}
      <div class="row">
        <div class="form-group">
            <label class="text-danger control-label col-xs-8">
            {{createKillnodeError}}
          </label>
        </div>
      </div>
    {{/if}}
    <div class="row">
      <div class="form-group" id="killNodeName">
        <label class="control-label col-xs-3"> Kill node name</label>
        {{#if editMode}}
          <label class="control-label col-xs-3">{{killNode.name}}</label>
        {{else}}
          <div class="col-xs-7">
            {{input class="form-control" type="text" name="kill-node-name" value=killNode.name}}
          </div>
        {{/if}}
      </div>
    </div>
    <div class="row padding10">
      <div class="form-group">
        <label class="control-label col-xs-3"> Kill message</label>
        <div class="col-xs-7">
          {{textarea class="form-control" rows="5" placeholder="kill node message" name="kill-node-message" value=killNode.killMessage}}
        </div>
      </div>
    </div>
  </div>
  <div class="panel-footer clearfix">
    <div class="pull-right">
      {{#if editMode}}
        <button type="button" class="btn btn-primary" {{action "updateNode"}}>Save</button>
      {{else}}
        <button type="button" class="btn btn-primary" {{action "createKillNode"}}>Save</button>
      {{/if}}
      <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
    </div>
  </div>
</div>
