{{!
* Licensed to the Apache Software Foundation (ASF) under one
* or more contributor license agreements.  See the NOTICE file
* distributed with this work for additional information
* regarding copyright ownership.  The ASF licenses this file
* to you under the Apache License, Version 2.0 (the
* "License"); you may not use this file except in compliance
* with the License.  You may obtain a copy of the License at
*
*     http://www.apache.org/licenses/LICENSE-2.0
*
* Unless required by applicable law or agreed to in writing, software
* distributed under the License is distributed on an "AS IS" BASIS,
* WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
* See the License for the specific language governing permissions and
* limitations under the License.
}}
<div class="prompt-popup">
  <form>
    <div {{bindAttr class=":form-group view.parentView.isInvalid:has-error"}}>
      {{#if view.text}}
        <label class="control-label">{{view.text}}</label>
      {{/if}}
      <h4>{{view.title}}</h4>
      <p>{{view.description}}</p>
      <div>
        <strong>{{view.label}}&nbsp;&nbsp;</strong>
        {{view Em.TextField class="prompt-input form-control" valueBinding="view.parentView.inputValue"}}
        {{#if view.parentView.isChanged}}
          <a href="#" data-toggle="tooltip" class="btn-sm"
            {{action "doRestoreDefaultValue" this target="view.parentView"}}
            {{translateAttr data-original-title="common.reset.default"}}>
            <i class="icon-undo"></i>
          </a>
        {{/if}}
      </div>
      {{#if view.parentView.isInvalid}}
        <span class="help-block validation-block">{{view.parentView.errorMessage}}</span>
      {{/if}}
    </div>
  </form>
</div>
