{{!
* Licensed to the Apache Software Foundation (ASF) under one
* or more contributor license agreements.  See the NOTICE file
* distributed with this work for additional information
* regarding copyright ownership.  The ASF licenses this file
* to you under the Apache License, Version 2.0 (the
* "License"); you may not use this file except in compliance
* with the License.  You may obtain a copy of the License at
*
*     http://www.apache.org/licenses/LICENSE-2.0
*
* Unless required by applicable law or agreed to in writing, software
* distributed under the License is distributed on an "AS IS" BASIS,
* WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
* See the License for the specific language governing permissions and
* limitations under the License.
}}

<div class="pagination-block-item">
  {{t tableView.filters.itemsPerPage}}
  {{view view.rowsPerPageSelectView selectionBinding="view.dataView.displayLength" data-qa="pagination-select"}}
</div>
<div class="pagination-block-item">{{view.dataView.paginationInfo}}</div>
<div class="pagination-block-item">
  {{#if hasFirstAndLastPageLinks}}
    <a {{action firstPage target="view.dataView"}} {{bindAttr class="view.isPreviousDisabled:disabled"}}><span class="icon icon-step-backward"></span></a>
  {{/if}}
  <a {{action previousPage target="view.dataView"}} {{bindAttr class="view.isPreviousDisabled:disabled"}}><span class="icon icon-chevron-left"></span></a>
  <a {{action nextPage target="view.dataView"}} {{bindAttr class="view.isNextDisabled:disabled"}}><span class="icon icon-chevron-right"></span></a>
  {{#if hasFirstAndLastPageLinks}}
    <a {{action lastPage target="view.dataView"}} {{bindAttr class="view.isNextDisabled:disabled"}}><span class="icon icon-step-forward"></span></a>
  {{/if}}
</div>
