{{!
* Licensed to the Apache Software Foundation (ASF) under one
* or more contributor license agreements.  See the NOTICE file
* distributed with this work for additional information
* regarding copyright ownership.  The ASF licenses this file
* to you under the Apache License, Version 2.0 (the
* "License"); you may not use this file except in compliance
* with the License.  You may obtain a copy of the License at
*
*     http://www.apache.org/licenses/LICENSE-2.0
*
* Unless required by applicable law or agreed to in writing, software
* distributed under the License is distributed on an "AS IS" BASIS,
* WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
* See the License for the specific language governing permissions and
* limitations under the License.
}}

<div class="span title">
  {{t common.timeRange}} <i class="glyphicon glyphicon-question-sign"></i>
</div>
<ul class="display-inline-block nav nav-pills">
  {{#each preset in view.presets}}
    {{view view.presetView presetBinding="preset" widgetBinding="view"}}
  {{/each}}
  {{t from}} {{view view.dateFromView}}
  {{t to}} {{view view.dateToView}}
</ul>
<div id="slider">
  <span class="period-marker">{{view.rangeLabel}}</span>
  <span class="now-marker">{{view.nowLabel}}</span>
</div>