{{!
* Licensed to the Apache Software Foundation (ASF) under one
* or more contributor license agreements.  See the NOTICE file
* distributed with this work for additional information
* regarding copyright ownership.  The ASF licenses this file
* to you under the Apache License, Version 2.0 (the
* "License"); you may not use this file except in compliance
* with the License.  You may obtain a copy of the License at
*
*     http://www.apache.org/licenses/LICENSE-2.0
*
* Unless required by applicable law or agreed to in writing, software
* distributed under the License is distributed on an "AS IS" BASIS,
* WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
* See the License for the specific language governing permissions and
* limitations under the License.
}}
{{! Here serviceConfigBinding should ideally be serviceConfigPropertyBinding }}
<div {{bindAttr class="view.overriddenSCP.errorMessage:has-error: :form-group :overrideField"}} {{QAAttr "override-field"}}>
  <div class="row">
    <div class="col-md-9">
      {{view view.overriddenSCP.viewClass serviceConfigBinding="view.overriddenSCP" categoryConfigsBinding="view.parentView.categoryConfigs"}}
    </div>
    <div class="col-md-3 config-controls">
      {{#if view.overriddenSCP.supportsFinal}}
        <a href="#" data-toggle="tooltip"
          {{bindAttr class=":btn-sm :display-inline-block :btn-final view.overriddenSCP.isFinal:active view.overriddenSCP.hideFinalIcon:hidden" disabled="view.overriddenSCP.isNotEditable"}}
          {{action "toggleFinalFlag" view.overriddenSCP target="view.parentView"}}
          {{translateAttr data-original-title="services.service.config.final"}}>
          <i class="glyphicon glyphicon-lock"></i>
        </a>
      {{/if}}
      {{#if view.parentView.isDefaultGroupSelected}}
        {{#if view.overriddenSCP.group}}
          {{view App.SwitchToGroupView controllerBinding="controller" groupBinding="view.overriddenSCP.group"}}
        {{/if}}
      {{else}}
        {{#if view.overriddenSCP.isEditable}}
          {{#if isNotDefaultValue}}
            <a class="btn-sm" href="#" data-toggle="tooltip"
              {{action "doRestoreDefaultValue" view.overriddenSCP target="view.parentView"}}
              {{translateAttr data-original-title="common.undo"}}>
              <i class="icon-undo"></i>
            </a>
          {{/if}}
          {{#isAuthorized "SERVICE.MODIFY_CONFIGS"}}
            <a class="btn-sm" href="#" data-toggle="tooltip"
              {{action "removeOverride" view.overriddenSCP target="view.parentView"}}
              {{translateAttr data-original-title="common.remove"}}>
              <i class="icon-minus-sign"></i>
            </a>
          {{/isAuthorized}}
          {{#if view.overriddenSCP.errorMessage}}
            <span class="help-block validation-block pull-right" {{QAAttr "validation-block"}}>{{view.overriddenSCP.errorMessage}}</span>
          {{/if}}
        {{else}}
            {{#unless controller.isHostsConfigsPage}}
              <a class="action">{{view.overriddenSCP.group.switchGroupTextShort}}</a>
            {{/unless}}
        {{/if}}
      {{/if}}
    </div>
  </div>
</div>
