{{!
* Licensed to the Apache Software Foundation (ASF) under one
* or more contributor license agreements.  See the NOTICE file
* distributed with this work for additional information
* regarding copyright ownership.  The ASF licenses this file
* to you under the Apache License, Version 2.0 (the
* "License"); you may not use this file except in compliance
* with the License.  You may obtain a copy of the License at
*
*     http://www.apache.org/licenses/LICENSE-2.0
*
* Unless required by applicable law or agreed to in writing, software
* distributed under the License is distributed on an "AS IS" BASIS,
* WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
* See the License for the specific language governing permissions and
* limitations under the License.
}}

<div class="wizard" id="edit-widget-wizard">
  <div class="wizard-body row">
    <div class="wizard-nav col-md-3">
      <ul class="nav nav-pills nav-stacked">
        <li {{bindAttr class="isStep1:active view.isStep1Disabled:disabled view.isStep1Completed:completed"}}><a href="javascript:void(null);"  {{action gotoStep1 target="controller"}}><i class="step-marker"><span class="step-index">1</span></i><p class="step-name">{{t widget.create.wizard.step2.header}}</p></a></li>
        <li {{bindAttr class="isStep2:active view.isStep2Disabled:disabled view.isStep2Completed:completed"}}><a href="javascript:void(null);"  {{action gotoStep2 target="controller"}}><i class="step-marker"><span class="step-index">2</span></i><p class="step-name">{{t widget.create.wizard.step3.header}}</p></a></li>
      </ul>
      {{#if view.isStep1}}
        <div class="preview" id="widget-preview">
          <h5>{{t common.preview}}:</h5>
          <div class="widget">
            {{view view.previewWidgetClass controllerBinding="App.router.widgetWizardStep2Controller"}}
          </div>
        </div>
      {{/if}}
      {{#if view.isStep2}}
        <div class="preview" id="widget-preview">
          <h5>{{t common.preview}}:</h5>
          <div class="widget">
            {{view view.previewWidgetClass controllerBinding="App.router.widgetWizardStep3Controller"}}
          </div>
        </div>
      {{/if}}
    </div>
    {{outlet}}
  </div>
</div>
