{{!
* Licensed to the Apache Software Foundation (ASF) under one
* or more contributor license agreements.  See the NOTICE file
* distributed with this work for additional information
* regarding copyright ownership.  The ASF licenses this file
* to you under the Apache License, Version 2.0 (the
* "License"); you may not use this file except in compliance
* with the License.  You may obtain a copy of the License at
*
*     http://www.apache.org/licenses/LICENSE-2.0
*
* Unless required by applicable law or agreed to in writing, software
* distributed under the License is distributed on an "AS IS" BASIS,
* WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
* See the License for the specific language governing permissions and
* limitations under the License.
}}

<div class="input-group">
  <span class="input-group-btn">
    <button class="btn btn-default" {{bindAttr disabled="view.computedDisabled"}} {{action decrementValue target="view"}}>
      <span class="icon-caret-left"></span>
    </button>
  </span>
  {{view Em.TextField valueBinding="view.content.value" disabledBinding="view.computedDisabled" class="form-control"}}
  <span class="input-group-btn">
    <button class="btn btn-default" {{bindAttr disabled="view.computedDisabled"}} {{action incrementValue target="view"}}>
      <span class="icon-caret-right"></span>
    </button>
  </span>
</div>
{{#if view.content.label}}
  <span class="spinner-input-label">{{view.content.label}}</span>
{{/if}}
