{{!
* Licensed to the Apache Software Foundation (ASF) under one
* or more contributor license agreements.  See the NOTICE file
* distributed with this work for additional information
* regarding copyright ownership.  The ASF licenses this file
* to you under the Apache License, Version 2.0 (the
* "License"); you may not use this file except in compliance
* with the License.  You may obtain a copy of the License at
*
*     http://www.apache.org/licenses/LICENSE-2.0
*
* Unless required by applicable law or agreed to in writing, software
* distributed under the License is distributed on an "AS IS" BASIS,
* WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
* See the License for the specific language governing permissions and
* limitations under the License.
}}
<div class="modal fade" id="global_properties_dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close" {{action 'close'}}>
          <span aria-hidden="true">&times;</span>
        </button>
        <h4 class="modal-title">Global Configurations</h4>
      </div>
      <div class="modal-body">
          <form class="form-horizontal" id="global_properties">
            <div class="panel panel-default">
              <div class="panel-heading">General</div>
              <div class="panel-body">
                <div class="form-group">
                  <label for="inputEmail" class="control-label col-xs-2">Resource Manager</label>
                  <div class="col-xs-7">
                    {{input type="text" class="form-control" name="job-tracker" value=actionModel.jobTracker placeholder="Resource Manager"}}
                  </div>
                </div>
                <div class="form-group">
                  <label for="inputPassword" class="control-label col-xs-2">Name node</label>
                  <div class="col-xs-7">
                    {{input type="text" class="form-control"  name="name-node" value=actionModel.nameNode validations="required,noWhitespace" placeholder="Name node"}}
                  </div>
                </div>
                <div class="">
                  <div class="handlerPanel">
                    {{#jobxml-config jobXml=actionModel.jobXml openFileBrowser="openFileBrowser"}}{{/jobxml-config}}
                  </div>
                </div>
              </div>
            </div>
          <div class=" panel panel-default">
            <div class="panel-heading">Properties</div>
            <div class="panel-body handlerPanel">
              {{#name-value-config configuration=actionModel.configuration register="register"}}{{/name-value-config}}
            </div>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" {{action 'close'}}>Cancel</button>
        <button type="button" class="btn btn-primary" {{action 'save'}}>Save</button>
      </div>
    </div>
  </div>
</div>
{{#if showingFileBrowser}}
  {{hdfs-browser closeFileBrowser="closeFileBrowser" selectFileCallback=selectFileCallback filePath=filePath}}
{{/if}}
