{{!
* Licensed to the Apache Software Foundation (ASF) under one
* or more contributor license agreements.  See the NOTICE file
* distributed with this work for additional information
* regarding copyright ownership.  The ASF licenses this file
* to you under the Apache License, Version 2.0 (the
* "License"); you may not use this file except in compliance
* with the License.  You may obtain a copy of the License at
*
*     http://www.apache.org/licenses/LICENSE-2.0
*
* Unless required by applicable law or agreed to in writing, software
* distributed under the License is distributed on an "AS IS" BASIS,
* WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
* See the License for the specific language governing permissions and
* limitations under the License.
}}

<div class="row">
  <div class="component-summary">
    {{view view.dashboardMasterComponentView}}
    <div class="col-md-12">
      <div class="col-md-2">
        {{#if view.showComponentsTitleForNonMasters}}
          {{t dashboard.services.hdfs.summary.components}}
        {{/if}}
      </div>
      <div class="col-md-10">
        {{#if view.isSupervisorCreated}}
          <div class="row col-md-3 component SUPERVISOR">
            <div class="summary-value main-info">
              {{#if App.router.clusterController.isServiceContentFullyLoaded}}
                {{#view App.ComponentLiveTextView liveComponentsBinding="view.superVisorsLive" totalComponentsBinding="view.superVisorsTotal" tagName="span"}}
                  {{view.liveComponents}}/{{view.totalComponents}}
                {{/view}}
                {{t common.live}}
              {{else}}
                {{t common.loading.eclipses}}
              {{/if}}
            </div>
            <div class="summary-label">
              <a href="#" {{action filterHosts view.filterComponent}}>
                {{t dashboard.services.storm.supervisors}}
              </a>
            </div>
          </div>
        {{/if}}
      </div>
    </div>
  </div>
  <div class="col-md-12 metrics-summary">
    <div class="col-md-2">{{t dashboard.services.hdfs.summary.service-metrics}}</div>
    <div class="col-md-10">
      <div class="row col-md-3 storm-slots">
        <div class="summary-value main-info">
          {{formatNull view.service.freeSlots}} / {{formatNull view.service.totalSlots}}
          ({{formatNull view.freeSlotsPercentage empty="0"}}% {{t common.free}})
        </div>
        <div class="summary-label">
          {{t services.service.summary.storm.freeslots}}
        </div>
      </div>
      <div class="row col-md-3 storm-tasks">
        <div class="summary-value main-info">
          {{formatNull view.service.totalTasks}}
        </div>
        <div class="summary-label">
          {{t services.service.summary.storm.tasks}}
        </div>
      </div>
      <div class="row col-md-3 storm-executors">
        <div class="summary-value main-info">
          {{formatNull view.service.totalExecutors}}
        </div>
        <div class="summary-label">
          {{t services.service.summary.storm.executors}}
        </div>
      </div>
      <div class="row col-md-3 storm-topologies">
        <div class="summary-value main-info">
          {{formatNull view.service.topologies}}
        </div>
        <div class="summary-label">
          {{t services.service.summary.storm.topologies}}
        </div>
      </div>
      <div class="row col-md-3 nimbus-uptime">
        <div class="summary-value main-info">
          {{view.nimbusUptimeFormatted}}
        </div>
        <div class="summary-label">
          {{t services.service.summary.storm.nimbus.uptime}}
        </div>
      </div>
    </div>
  </div>
</div>