{{!
* Licensed to the Apache Software Foundation (ASF) under one
* or more contributor license agreements.  See the NOTICE file
* distributed with this work for additional information
* regarding copyright ownership.  The ASF licenses this file
* to you under the Apache License, Version 2.0 (the
* "License"); you may not use this file except in compliance
* with the License.  You may obtain a copy of the License at
*
*     http://www.apache.org/licenses/LICENSE-2.0
*
* Unless required by applicable law or agreed to in writing, software
* distributed under the License is distributed on an "AS IS" BASIS,
* WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
* See the License for the specific language governing permissions and
* limitations under the License.
}}
<form class="form-horizontal alert-configs">
  {{#each property in controller.configs}}
    {{#unless property.hidden}}
      <div {{bindAttr class=":form-group property.name property.isValid::has-error"}}>
        {{#if property.isPreLabeled}}
          <label {{bindAttr class=":control-label :col-md-2"}}>{{property.label}}</label>

          <div {{bindAttr class=":col-md-10"}}>
            {{view property.viewClass propertyBinding="property"}}
          </div>
        {{else}}
          <div>
            <label class="radio">
              {{view property.viewClass propertyBinding="property"}}
              {{property.label}}
            </label>
          </div>
        {{/if}}
      </div>
    {{/unless}}
  {{/each}}
  {{#if controller.hasThresholdsError}}
    <div class="error-message">
      {{view.errorMessage}}
    </div>
  {{/if}}
</form>