{{!
* Licensed to the Apache Software Foundation (ASF) under one
* or more contributor license agreements.  See the NOTICE file
* distributed with this work for additional information
* regarding copyright ownership.  The ASF licenses this file
* to you under the Apache License, Version 2.0 (the
* "License"); you may not use this file except in compliance
* with the License.  You may obtain a copy of the License at
*
*     http://www.apache.org/licenses/LICENSE-2.0
*
* Unless required by applicable law or agreed to in writing, software
* distributed under the License is distributed on an "AS IS" BASIS,
* WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
* See the License for the specific language governing permissions and
* limitations under the License.
}}
<div class="wizard-content col-md-9">
  <h4 class="step-title">{{t admin.nameNodeFederation.wizard.step1.header}}</h4>
  <div class="step-description">
    <p>{{t admin.nameNodeFederation.wizard.step1.body}}</p>
    <div class="alert alert-danger">
      {{t admin.nameNodeFederation.wizard.step1.alert}}
    </div>
  </div>
  <div class="panel panel-default">
    <div class="panel-body">
      <div {{bindAttr class=":form-group controller.isNameServiceIdError:has-error :form-horizontal"}}>
        <div class="row">
          <div class="col-md-2">
            <label>{{t admin.nameNodeFederation.wizard.step1.nameserviceid.existing}}:</label>
          </div>
          <div class="col-md-10">
            {{controller.existingNameServicesString}}
          </div>
        </div>
        <div class="row">
          <div class="col-md-2">
            <label class="control-label">{{t admin.nameNodeFederation.wizard.step1.nameserviceid}}:</label>
          </div>
          <div class="col-md-3">
            {{view Ember.TextField valueBinding="content.nameServiceId" classNames="form-control"}}
          </div>
          <div class="col-md-7">
            <span {{bindAttr class=":help-block :validation-block controller.isNameServiceIdError::hidden"}}>
              {{t admin.nameNodeFederation.wizard.step1.nameserviceid.error}}
            </span>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="wizard-footer col-md-12">
  <div class="btn-area">
    <button {{bindAttr disabled="controller.isNameServiceIdError"}} class="btn btn-success pull-right" {{action next target="controller"}}>{{t common.next}} &rarr;</button>
  </div>
</div>

