{{!
* Licensed to the Apache Software Foundation (ASF) under one
* or more contributor license agreements.  See the NOTICE file
* distributed with this work for additional information
* regarding copyright ownership.  The ASF licenses this file
* to you under the Apache License, Version 2.0 (the
* "License"); you may not use this file except in compliance
* with the License.  You may obtain a copy of the License at
*
*     http://www.apache.org/licenses/LICENSE-2.0
*
* Unless required by applicable law or agreed to in writing, software
* distributed under the License is distributed on an "AS IS" BASIS,
* WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
* See the License for the specific language governing permissions and
* limitations under the License.
}}

<div class="update-progress pull-left">
  {{#if view.isUpdateInProgress}}
    <div class="progress">
      <div class="progress-bar-info active progress-bar" {{bindAttr style="view.progressWidth"}}></div>
    </div>
  {{else}}
    <span {{bindAttr class="view.updateStatusClass"}} {{QAAttr "host-checks-result-{view.footerController.checksUpdateStatus}"}}>{{view.updateStatus}}</span>
  {{/if}}
</div>
{{#if view.parentView.secondary}}
  <button type="button" class="btn btn-warning"
    {{bindAttr disabled="view.isUpdateInProgress"}}
    {{action onSecondary target="view.parentView"}}
    {{QAAttr "modal-secondary"}}>
      <i class="glyphicon glyphicon-repeat"></i>&nbsp;{{view.parentView.secondary}}
  </button>{{/if}}{{#if view.parentView.primary}}<button type="button" class="btn btn-default"
    {{action onPrimary target="view.parentView"}}>
      {{view.parentView.primary}}
  </button>
{{/if}}
