{{!
* Licensed to the Apache Software Foundation (ASF) under one
* or more contributor license agreements.  See the NOTICE file
* distributed with this work for additional information
* regarding copyright ownership.  The ASF licenses this file
* to you under the Apache License, Version 2.0 (the
* "License"); you may not use this file except in compliance
* with the License.  You may obtain a copy of the License at
*
*     http://www.apache.org/licenses/LICENSE-2.0
*
* Unless required by applicable law or agreed to in writing, software
* distributed under the License is distributed on an "AS IS" BASIS,
* WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
* See the License for the specific language governing permissions and
* limitations under the License.
}}

<div class="row">
  <div class="component-summary">
    {{! HBase Master Server }}
    {{view view.dashboardMasterComponentView}}
    <div class="col-md-12">
      <div class="col-md-2">
        {{#if view.showComponentsTitleForNonMasters}}
          {{t dashboard.services.hdfs.summary.components}}
        {{/if}}
      </div>
      <div class="col-md-10">
        {{! RegionServers }}
        {{#if view.isRegionServerCreated}}
          <div {{bindAttr class=":row :component :col-md-3 view.regionServerComponent.componentName"}}>
            <div class="summary-value main-info">
              {{#if App.router.clusterController.isServiceContentFullyLoaded}}
                <span>
                  {{#view App.ComponentLiveTextView liveComponentsBinding="view.service.regionServersStarted" totalComponentsBinding="view.service.regionServersTotal"}}
                    {{view.liveComponents}}/{{view.totalComponents}}
                  {{/view}}
                </span>
                {{t common.live}}
              {{else}}
                {{t common.loading.eclipses}}
              {{/if}}
            </div>
            <div class="summary-label">
              <a
                href="#" {{action filterHosts view.regionServerComponent}}>{{t dashboard.services.hbase.regionServers}}</a>
            </div>
          </div>
        {{/if}}
        {{! PhoenixServers }}
        {{#if view.isPhoenixQueryServerCreated}}
          <div {{bindAttr class=":row :component :col-md-3 view.phoenixServerComponent.componentName"}}>
            <div class="summary-value main-info">
            <span>
              {{#view App.ComponentLiveTextView liveComponentsBinding="view.service.phoenixServersStarted" totalComponentsBinding="view.service.phoenixServersTotal"}}
                {{#if App.router.clusterController.isServiceContentFullyLoaded}}
                  {{view.liveComponents}}/{{view.totalComponents}}
                {{/if}}
              {{/view}}
            </span>
              {{t common.live}}
            </div>
            <div class="summary-label">
              <a
                href="#" {{action filterHosts view.phoenixServerComponent}}>{{t dashboard.services.hbase.phoenixServers}}</a>
            </div>
          </div>
        {{/if}}
        {{! Regions in Transition }}
        <div class="row col-md-3 regions-in-trnasition">
          <div class="summary-value main-info">{{view.service.regionsInTransition}}</div>
          <div class="summary-label">{{t dashboard.services.hbase.regions.transition}}</div>
        </div>
      </div>
    </div>
  </div>

  <div class="col-md-12 metrics-summary">
    <div class="col-md-2">{{t dashboard.services.hdfs.summary.service-metrics}}</div>
    <div class="col-md-10">
      {{! HBase Master Started Time }}
      <div class="row col-md-3 started-time">
        <div class="summary-value main-info">{{view.masterStartedTime}}</div>
        <div class="summary-label">{{t dashboard.services.hbase.masterStarted}}</div>
      </div>
      {{! HBase Master Activated Time }}
      <div class="row col-md-3 activated-time">
        <div class="summary-value main-info">{{view.masterStartedTime}}</div>
        <div class="summary-label">{{t dashboard.services.hbase.masterActivated}}</div>
      </div>
      {{! Average Load }}
      <div class="row col-md-3 average-load">
        <div class="summary-value main-info">{{view.averageLoad}}</div>
        <div class="summary-label">{{t dashboard.services.hbase.averageLoad}}</div>
      </div>
      {{! Master Server Heap }}
      <div class="row col-md-3 server-heap">
        <div class="summary-value">
          <div class="main-info">{{view.masterServerHeapSummaryPercent}}</div>
          <div class="info-desc">{{view.masterServerHeapSummary}}</div>
        </div>
        <div class="summary-label">{{t dashboard.services.hbase.masterServerHeap}}</div>
      </div>
    </div>
  </div>
</div>