{{!
* Licensed to the Apache Software Foundation (ASF) under one
* or more contributor license agreements.  See the NOTICE file
* distributed with this work for additional information
* regarding copyright ownership.  The ASF licenses this file
* to you under the Apache License, Version 2.0 (the
* "License"); you may not use this file except in compliance
* with the License.  You may obtain a copy of the License at
*
*     http://www.apache.org/licenses/LICENSE-2.0
*
* Unless required by applicable law or agreed to in writing, software
* distributed under the License is distributed on an "AS IS" BASIS,
* WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
* See the License for the specific language governing permissions and
* limitations under the License.
}}

<button type="button" class="btn btn-sm btn-primary" {{action "openModal"}} disabled={{currentPathIsTrash}}>{{fa-icon icon="upload"}} Upload</button>

{{#if modalGuard}}
  <!-- Modal Dialog -->
  <div class="modal fade" role="dialog">
    <div class="modal-dialog">
      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="fa fa-times pull-right" {{action 'close'}}></button>
          <h4>{{fa-icon "upload"}} Upload file to <span class="sub-heading">{{path}}</span></h4>
        </div>
        <div class="modal-body">
          {{#unless isUploading}}
            {{#file-picker fileLoaded="fileLoaded" preview=false}}
              <div class="text-center vert-align-middle">
                {{fa-icon "cloud-upload" size="4"}}
                <h4> Drag file to upload or click to browse</h4>
              </div>
            {{/file-picker}}
            <div class="upload-notice text-right">
              <em class="text-danger">Currently supports single file upload</em>
            </div>
          {{else}}
            <div class="progress file-picker-progress">
              <div class="progress-bar" role="progressbar" aria-valuenow="{{uploadPercent}}" aria-valuemin="0"
                   aria-valuemax="100" style={{uploadPercentStyle}}>
                {{uploadPercent}}
              </div>
            </div>
            <em>{{uploadFileName}}</em>
          {{/unless}}
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" {{action 'close'}}>{{fa-icon icon="close"}} Cancel</button>
        </div>
      </div>
    </div>
  </div>
  <!-- Modal Dialog Ends -->
{{/if}}